<html>
    <body>
        <form method="post" action="\data">
            <input type="text" name="first_name" placeholder="first_name" required="required">
            <input type="text" name="last_name" placeholder="last_name" required="required">
            <input type="number" name="phone_number" placeholder="phone number" required="required">
            <input type="email" name="email" placeholder="email" required="required">
            <button> Submitt </button>
        </form>
    </body>
</html>